#cameraDisplay {
    position: relative;
    margin-top: 10em;
    opacity: 1;
    transition: opacity 1s;
}

#canvasPhoto {
    position: relative;
    margin-top: -30em;
    opacity: 1;
    transition: opacity 1s;
    border: 1px solid rebeccapurple;
}
button {
    position: relative;
}
#takePhoto {
    position: center;
}

#submit {
    position: left;
} 

#canvasPhotoText {
    width: 10em;
    font-family: Arial, Helvetica, sans-serif;
    position: left;
body {
    background-color: black;
}